
<p-confirmDialog key="dialog" />
<div class="flex items-center justify-center flex-col">
    <div class="card w-full bg-base-100 md:w-3/4 lg:w-3/4 shadow-xl rounded-box p-4 md:p-6">
        <div class="card-body">
            <h2 class="card-title">GESTIÓN DE USUARIOS</h2>
            <br>
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <button class="btn btn-outline btn-block" (click)="addUser()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                        </svg>                          
                        AGREGAR USUARIO
                    </button>
                </div>
                <div>
                    <button class="btn btn-outline btn-block" (click)="exportar()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                        </svg>
                          
                        EXPORTAR INFORMACIÓN
                    </button>
                </div>
            </div>
            <br>

            <ng-container *ngIf="loading; else loaded">
                <app-loading></app-loading>
            </ng-container>

        </div>
        
    </div>

    
</div>
<dialog id="my_modal_4" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
      <h3 class="font-bold text-lg">Hello!</h3>
      <p class="py-4">Click the button below to close</p>
      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button, it will close the modal -->
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>

<ng-template #loaded>
    <app-users-table [users]="users" (dialogClosed)="dialogClosed()"></app-users-table>
</ng-template>

